<div class="m-4">
    <app-tool-bar (displayInvoiceModal)="displayInvoiceModal=true" (displayExpenseModal)="displayExpenseModal=true"></app-tool-bar>

    <div class="grid m-4">
        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Receitas e Despesas mês a mês (Gráfico de Balanço)</h5>
    
                <p-chart type="line" [data]="balanceChartData" [options]="balanceChartOptions" id="nasdaq-chart" height="348"></p-chart>
            </div>
        </div>
    </div>
</div>
<app-invoice-modal [display]="displayInvoiceModal" (onClose)="displayInvoiceModal=false"></app-invoice-modal>
<app-expense-modal [display]="displayExpenseModal" (onClose)="displayExpenseModal=false"></app-expense-modal>