<div class="m-4">
    <app-tool-bar (displayInvoiceModal)="displayInvoiceModal=true" (displayExpenseModal)="displayExpenseModal=true"></app-tool-bar>

    <div class="grid m-4">
        <div class="col-12">
            <div class="card flex justify-content-center gap-8">
                <app-reached-invoice-chart></app-reached-invoice-chart>
            </div>
        </div>
    </div>
</div>
<app-invoice-modal [display]="displayInvoiceModal" (onClose)="displayInvoiceModal=false"></app-invoice-modal>
<app-expense-modal [display]="displayExpenseModal" (onClose)="displayExpenseModal=false"></app-expense-modal>